# ============================
# eBook Store Backend — .env
# ============================

# MongoDB Atlas
MONGODB_URI=mongodb+srv://srik13225_db_user:ihCHM89rBhuQQngK@cluster0.ylgqbca.mongodb.net/?appName=Cluster0
DATABASE_NAME=ebook_store

# JWT Secrets (generate with: openssl rand -hex 32)
JWT_SECRET=your-super-secret-key-min-32-chars-change-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=30
DOWNLOAD_TOKEN_EXPIRE_MINUTES=10

# Cloudinary (https://cloudinary.com/console)
CLOUDINARY_CLOUD_NAME=da8rqjllh
CLOUDINARY_API_KEY=485992486299771
CLOUDINARY_API_SECRET=ei4Yfmh5d1dYcE4spCqBEKRVSaw

# Cashfree (https://merchant.cashfree.com/merchants/developer/api-keys)
CASHFREE_APP_ID=your-cashfree-app-id
CASHFREE_SECRET_KEY=
CASHFREE_ENV=sand

# Admin credentials
# Generate hash with: python -c "from passlib.context import CryptContext; print(CryptContext(schemes=['bcrypt']).hash('yourpassword'))"
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=$2b$12$pBztQ0O3707E1O39hJ3C9OaTacLCfuUUOou1LnQGSWfww5ij.NBH2

# CORS — comma-separated list of frontend origins
ALLOWED_ORIGINS=["http://localhost:3000","https://yourstore.vercel.app"]

# URLs
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000
